<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:custns="http://www.codelooru.com/custns"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.codelooru.com/custns http://www.codelooru.com/custns.xsd">

    <custns:createservice serviceId="myservice-123" daoId="mydao-123" fields="field1,field2,field3"/>

</beans>
